body{
  margin: 0;
}

.task1{
  background-color: rgb(65, 105, 92);
  color: rgb(228, 228, 197);
  padding: 25px;
}

.task2{
  background-color: rgb(156, 141, 46);
  color: rgb(228, 228, 197);
  padding: 25px;
}

.task4{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(70, 107, 70);
  color: rgb(189, 162, 130);
}